# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*

# Build folders
dist/
build/

# Logs
*.log
logs/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage
coverage/